.account_controls {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .greeting {
    font-size: 13px;
    text-align: left;
    width: 100%;
    padding: 0 1rem;
  }

  .cash_container {
    display: flex;
    gap: 1rem;
    justify-content: left;
    margin-left: 1.5rem;

    .total_balance {
      width: 300px;
      height: 100px;
      background: #ffffff;
      border-radius: 8px;
      display: grid;
      grid-template-columns: 20% 80%;
      padding: 1rem;
      .icon {
        width: 25px;
        height: 25px;
        color: rgb(100, 138, 255);
      }

      .balance {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        .title {
          font-family: "Syne";
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 19px;
          color: rgb(0, 0, 0);
        }

        .cash {
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 29px;
          color: rgb(0, 0, 0);
        }
        .show {
          font-size: 12px;
          display: flex;
          gap: 5px;
          align-items: center;
          justify-content: flex-start;
          width: 100%;
          cursor: pointer;
          color: #181717;
          background-color: transparent;
          width: fit-content;
        }
      }
    }
  }
  .action {
    display: flex;
    gap: 1rem;
    margin-left: 1.5rem;
    height: 2rem;

    .action_option {
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      font-size: 15px;
      transition: 100ms ease-in-out;
      text-decoration: none;
      color: #373737;

      .option_icon {
        color: #0153cd;
      }

      &:hover {
        background-color: #3475d6;
        padding: 5px 10px;
        border-radius: 5px;

        .option_icon {
          color: #181717;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .account_controls {
    display: flex;
    gap: 1rem;
    justify-content: center;
    width: 100vw;
    align-items: center;
    .greeting {
      font-size: 13px;
      text-align: left;
      width: 100%;
      padding: 0 1rem;
      font-weight: 700;
    }
    .cash_container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      justify-content: center;
      align-items: center;
      margin-left: 0;

      .total_balance {
        width: 270px;
        height: 100px;
        display: grid;
        .icon {
          width: 29px;
          height: 29px;
          color: rgb(100, 138, 255);
        }

        .balance {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          .title {
            font-size: 12px;
          }

          .cash {
            font-size: 22px;
          }
        }
      }
      .fund_balance {
        width: 330px;
        height: 100px;

        .icon {
          width: 29px;
          height: 29px;
        }
        .balance {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;

          .title {
            font-size: 12px;
          }
          .cash {
            font-size: 24px;
          }
        }
      }
    }
    .action {
      display: flex;
      gap: 1rem;
      width: 100%;
      justify-content: center;
      align-items: center;
      height: 2rem;

      .action_option {
        font-weight: normal;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-size: 13px;
        transition: 100ms ease-in-out;
        background-color: #0153cd;
        padding: 10px;
        text-decoration: none;
        color: #fffbfb;
        border-radius: 5px;
        a {
          text-decoration: none;
        }

        .option_icon {
          color: #ffffff;
        }

        &:hover {
          background-color: #3475d6;
          padding: 5px 10px;
          border-radius: 5px;

          .option_icon {
            color: #181717;
          }
        }
      }
    }
  }
}
