.account_controls {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .greeting {
    font-family: "Syne";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #3a3a3a;
  }

  .cash_container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    padding-top: 1rem;

    .total_balance {
      width: 300px;
      height: 100px;
      background: #01cda9;
      border-radius: 8px;
      display: grid;
      grid-template-columns: 20% 80%;
      padding: 1rem;
      .icon {
        width: 25px;
        height: 25px;
        color: #3a3a3a;
      }

      .balance {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        .title {
          font-family: "Syne";
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 19px;
          color: #3a3a3a;
        }

        .cash {
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 29px;
          color: #ffffff;
        }
        .show {
          font-size: 12px;
          display: flex;
          gap: 5px;
          align-items: center;
          justify-content: flex-start;
          width: 100%;
          cursor: pointer;
          color: #ffffff;
        }
      }
    }
  }
  .activities {
    display: grid;
    grid-template-columns: repeat(2, 10rem);
    gap: 5rem;
    justify-content: center;
    margin-top: 3rem;
    padding-left: 2rem;
    a {
      text-decoration: none;
      color: #3a3a3a;
    }
    .content {
      display: grid;
      width: auto;
      height: 50px;
      grid-template-columns: 3rem auto;
      align-content: center;
      background: #ffffff;
      border-radius: 10px;
      cursor: pointer;

      .text {
        align-self: center;
        font-weight: 700;
        text-decoration: none;
        color: #3a3a3a;
        font-size: 14px;
      }
      .icon {
        width: 60px;
        height: 60px;
        background: #01cda9;
        padding: 10px;
        border-radius: 50%;
        z-index: 1;
        color: #ffffff;
        margin-left: -22px;

        &.two {
          background: #ff8947;
        }

        &.three {
          background: #204a89;
        }
      }
    }

    .Link-active {
      background: rgba(1, 205, 169, 0.25);
      border: 20px 40px;
    }
  }
}

@media screen and (max-width: 768px) {
  .account_controls {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    width: 100vw;

    .greeting {
      font-size: 12px;
    }

    .cash_container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      justify-content: center;
      align-items: center;

      .total_balance {
        width: 330px;
        height: 100px;
        display: grid;
        .icon {
          width: 29px;
          height: 29px;
          color: #3a3a3a;
        }

        .balance {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          .title {
            font-size: 12px;
          }

          .cash {
            font-size: 24px;
          }
        }
      }
      .fund_balance {
        width: 330px;
        height: 100px;

        .icon {
          width: 29px;
          height: 29px;
        }
        .balance {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;

          .title {
            font-size: 12px;
          }
          .cash {
            font-size: 24px;
          }
        }
      }
    }
    .activities {
      gap: 1.5rem;
      justify-content: center;
      margin-top: 1rem;

      .content {
        display: grid;
        width: 120px;
        height: 35px;
        grid-template-columns: 2rem auto;

        .text {
          font-size: 12px;
        }
        .icon {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}
