.transactions {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background: #f8f9fa;

  @media screen and (max-width: 850px) {
    padding: 1rem;
  }
  .transactionsNav {
    display: flex;
    justify-content: center;
    gap: 7rem;
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 8px;

    @media screen and (max-width: 850px) {
      gap: 1rem;
      padding: 1rem;
    }
    .active {
      color: rgb(7, 125, 171);
    }
    .lynk {
      display: flex;
      gap: 2px;
      align-items: center;

      @media screen and (max-width: 850px) {
        font-size: 1rem;
      }
      .icon {
        // color: rgb(163, 161, 161);
        font-size: 1.3rem;

        @media screen and (max-width: 850px) {
          font-size: 1rem;
        }
      }
    }
    a {
      text-decoration: none;
      color: rgb(163, 161, 161);
      font-weight: 600;
      &:hover {
        color: rgb(7, 125, 171);
      }
    }
  }
  .outlet {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
}
