.dataTable{
    width: 95%;

    .MuiTablePagination-toolbar{
        @media screen and (max-width: 950px){
            overflow-x: scroll;
        }
    }

    .statusCell{
        color: red;
        font-size: 30px;
        background-color: red;
    }
    
}