.error_page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #e7f0f3;

  .error_container {
    background: #fff;
    width: 500px;
    height: 300px;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    box-shadow: 5px 4px 20px rgba(0, 0, 0, 0.1);

    .logo {
      width: 200px;
    }

    .error_pic {
      width: 70px;
    }

    .content {
      display: flex;
      flex-direction: column;
      gap: 0.6rem;
      justify-content: center;
      align-items: center;

      .text {
        font-size: 16px;
        margin-bottom: 1rem;
      }

      .button {
        width: 150px;
      }
    }
  }
}
