.container {
  display: flex;
  width: 100vw;
  justify-content: center;
  overflow: hidden;
  height: fit-content;
  background-color: black;
  .login-page {
    height: fit-content;
    padding: 100px 0px;
    width: 100%;
    background-color: rgb(3, 3, 3);
    border-bottom: 3px solid #fff;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    justify-content: center;
    align-content: center;
    overflow: scroll;
    -ms-overflow-style: none;
    position: relative;
    scrollbar-color: rgb(255, 253, 253);
    scrollbar-width: 10px;
    .loaderdiv {
      position: absolute;
      align-self: center;
      justify-self: center;
    }
    .login_container {
      height: fit-content;
      width: 500px;
      background: #fff;
      box-shadow: 0px 0px 31px rgba(0, 0, 0, 0.1);
      border-radius: 20px;
      // padding: 24px 24px;

      .login_content {
        padding: 25px 50px;
        display: grid;
        grid-template-columns: 1fr;

        .title {
          font-size: 16px;
          font-weight: 600;
          color: rgb(0, 0, 0);
          margin-bottom: 20px;
          display: flex;
          gap: 10px;
          align-items: center;
        }

        .subtitle {
          font-size: 13px;
          font-weight: 400;
          color: #3a3a3a;
        }
        .form {
          display: grid;

          .subtitle1 {
            font-size: 12px;
            font-weight: 400;
            color: rgb(0, 0, 0);
            text-decoration: none;
          }
          .password {
            display: flex;
            align-content: center;
            gap: 10px;

            .password-toggle {
              align-self: center;
              margin-top: 24px;
            }
          }
          .loader_con {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 20px 0px;
          }
          .button {
            margin: 40px 0px 20px 0px;
          }
          .error {
            font-size: 10px;
            color: crimson;
            text-align: center;
            width: 300px;
            align-self: center;
            margin: 0 auto;
          }

          .signup_here {
            font-size: 13px;
            color: black;
            text-align: center;
            display: flex;
            justify-content: center;
            align-content: center;
            &:hover {
              text-decoration: underline;
            }
          }
        }

        .partners {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          width: 100%;

          .partner_logos {
            width: 90px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .container {
    display: flex;
    align-content: center;
    align-items: center;
    width: 100vw;
    justify-content: center;

    .login-page {
      .loaderdiv {
        position: absolute;
        align-self: center;
        justify-self: center;
      }
      .login_container {
        height: fit-content;
        width: 300px;
        .login_content {
          .title {
            font-size: 14px;
          }

          .subtitle {
            font-size: 12px;
          }
          .form {
            label {
              font-size: 12px;
            }
            input {
              width: 200px;
              font-size: 10px;
              height: 30px;
            }

            button {
              width: 200px;
              font-size: 10px;
              height: 30px;
            }
            .subtitle1 {
              font-size: 10px;
            }
            .button {
              margin: 20px 0px 10px 0px;
            }
            .error {
              font-size: 10px;
              color: crimson;
              text-align: center;
              width: 200px;
            }
          }
          .partners {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            width: 100%;

            .partner_logos {
              width: 60px;
            }
          }
        }
      }
    }
    .swiper {
      display: none;
    }
  }
}
