.button {
  background: rgb(100, 138, 255);
  width: fit-content;
  height: 39px;
  outline: none;
  border: none;
  color: #fff;
  font-family: "Syne", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13.3333px;
  line-height: 16px;
  cursor: pointer;
  padding: 10px 20px;

  &.black {
    background-color: rgb(0, 0, 0);
    width: fit-content;

    &:hover {
      background-color: rgb(255, 255, 255);
      color: black;
      border: 1px solid black;
    }
  }
  &:hover {
    background-color: rgb(131, 214, 252);
  }
}
