.profile-container {
  width: 100%;
  background: #f8f9fa;
  display: grid;
  justify-content: center;
  min-height: 100vh;

  .profile-content {
    width: 600px;
    background: #fff;
    padding: 60px;
    height: fit-content;
    margin: 4rem;
    border-radius: 10px;
    box-shadow: 5px 4px 20px rgba(0, 0, 0, 0.1);
    // display: grid;

    .profile-pic {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 4rem;
      align-self: center;
      align-items: center;
      width: 100%;
      gap: 20px;
      .pic {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
      }
      .file_upload {
        cursor: pointer;
        margin: 0 auto;
        color: rgb(128, 125, 125);
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

        span {
          font-size: 12px;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .input-field {
      .grid-inputs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        justify-content: center;
        margin-top: 2rem;

        .input {
          width: 15rem;
          height: 2.5rem;
          border: 2.2px solid rgb(214, 211, 211);
        }
      }

      .email {
        margin-top: 2rem;
        input {
          width: 100%;
          height: 2.5rem;
          border: 2.2px solid rgb(214, 211, 211);
        }
      }

      .phone-container {
        margin-top: 2.6rem;

        label {
          font-weight: bold;
          font-size: 14px;
        }

        .phone {
          border: 2.2px solid rgb(214, 211, 211);
          padding: 10px;
          border-radius: 8px;
          margin-top: 1rem;

          .PhoneInputInput {
            height: 1rem;
            outline: none;
            font-size: 20px;
            font-family: inherit;
            border: none;
          }
          .PhoneInputCountryIcon {
            width: 1.6rem;
            height: 1.1rem;
          }
        }
      }
      .buttons {
        display: grid;
        justify-content: center;
        gap: 1rem;
        margin-top: 5rem;

        button {
          padding: 10px 20px;
          width: 16rem;
          font-family: inherit;
          font-size: 18px;
          color: #fff;
          background: rgb(100, 138, 255);
          outline: none;
          border: none;
          border-radius: 11px;
          cursor: pointer;
        }
        .black {
          background: #2f2f2f;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .profile-container {
    width: 100%;

    display: grid;
    justify-content: center;
    overflow-y: scroll;
    overflow-x: hidden;
    .profile-content {
      width: 343px;
      background: #fff;
      padding: 40px 20px;
      margin: 2rem;
      .intro {
        h3 {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
        }
        p {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 12.8px;
        }
      }

      .input-field {
        .grid-inputs {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-top: 0;
          gap: 0rem;

          label {
            font-size: 12.8px;
          }
          .input {
            width: 305px;
            height: 35px;
          }
        }

        .email {
          margin-top: 1rem;
          label {
            font-size: 12.8px;
          }
          input {
            width: 305px;
            height: 35px;
            border: 2.2px solid rgb(214, 211, 211);
          }
        }

        .phone-container {
          margin-top: 1rem;
          label {
            font-weight: bold;
            font-size: 12.8px;
          }

          .phone {
            margin-top: 1rem;

            .PhoneInputInput {
              font-size: 12.8px;
            }
          }
        }
        .buttons {
          margin-top: 2rem;

          button {
            padding: 10px 20px;
            width: 296.8px;
            height: 40px;
            font-size: 12.0598px;
          }
        }
      }
    }
  }
}
