.swiper {
  width: 100vw;
  
    background-image: linear-gradient(to bottom, rgba(17, 30, 102, 0.52), rgba(24, 5, 19, 0.73)),url('../../Images/pexels-suzy-hazelwood-1629236.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  .swiper_slide {
    background-color: transparent;

    .banner {
      display: grid;
      grid-template-columns: 50% 50%;
      width: 100vw;
      padding: 0px 100px;
      height: 37rem;
    
      .banner_info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        color: #fff;
        .big {
          font-size: 2.5rem;
          font-weight: 800;
          font-family: 'Syne', sans-serif;
          color: #ffd700;
        }
        .medium {
          font-size: 1.3rem;
          font-weight: 400;
          width: 90%;
        }
        .small {
          font-size: 1rem;
          font-weight: 300;
          margin-bottom: 2rem;
        }
      }
      .banner_image {
        display: flex;
        justify-content: center;
        align-items: center;

        .bitcoin{
          height: 28rem;
        }

        .blockchain{
          height: 25rem;
        }
      }
    
      @media screen and (max-width: 800px) {
        display: flex;
        flex-direction: column-reverse;
        width: 100vw;
        gap: 0.5rem;
        justify-items: center;
        padding: 0px 20px;
        height: 33rem;
    
        .banner_info {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 5px;
          text-align: center;
          margin-bottom: 1rem;
          .big {
            font-size: 1.8rem;
            font-weight: 700;
            font-family: 'Syne', sans-serif;
          }
          .medium {
            font-size: 1rem;
            font-weight: 400;
            width: 90%;
          }
          .small {
            font-size: 0.8rem;
            font-weight: 300;
            margin-bottom: 0.5rem;
          }
        }
        .banner_image {
          display: flex;
          justify-content: center;
          align-items: center;
          
          .bitcoin{
            height: 250px;
          }
          .blockchain {
            height: 200px;
          }

        }
      }
    }
  }
}





